.promo-section {
    width: 73%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.promo-1 {
    display: flex;
    align-items: center;
    height: 20rem;
}

.promo-1 .promo-left {
    width: 40%;
}
.promo-1 .promo-left .promo-title {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.promo-1 .promo-left .promo-desc {
    font-size: 1.6rem;
    color: #424242;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 3rem;
}

.see-pricing {
    color: #387ed1;
    font-size: 1.6rem;
    transition: color 0.2s;
}

.see-pricing:hover {
    color: #000;
}

.promo-right {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.pricing-offer img {
    width: 12rem;
}
.promo-1 .pricing-offer {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
}
.promo-1 .promo-pricing-text {
    position: relative;
    right: 1rem;
    bottom: -1rem;
    width: 12rem;
    color: #666666;
    font-size: 1rem;
}

.see-pricing {
    display: block;

}


.promo-2 {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.promo-2 .left img {
    width: 90%
}

.promo-2 .right {
    width: 50%;

}
.promo-2 .promo-title {
    font-size: 3.5rem;
}

.promo-2 .promo-desc,
.promo-2 a {
    font-size: 1.6rem;
    line-height: 3rem;
}

.promo-2 a {
    color: #387ed1;
    line-height: 2rem;
}

.promo-2 a:hover {
    color: #000;
}

.promo-2 .space-top {
    margin-top: 3rem;
}

@media (max-width: 960px) {
    .promo-section {
        width: 95%;
    }

    .promo-1 {
        height: 30rem !important;
    }

    .promo-1 .promo-left {
        width: 45%;
    }

    .promo-1 .promo-right {
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 56%;
        align-items: center;
    }


    .promo-1 .pricing-offer {
        width: 13rem;
    }
    .promo-1 .pricing-offer img{
        width: 8rem;
    }

    .promo-1 .promo-pricing-text {
        width: 10rem;
    }
}


@media (max-width: 800px) {
    .promo-1 {
        flex-direction: column;
    }

    .promo-1 .promo-left {
        width: 100%;
    }

    .promo-1 .promo-right {
        width: 100%;
    }

    .promo-2 {
        flex-direction: column;
    }

    .promo-2 .left {
        display: flex;
        justify-content: center;
    }
    .promo-2 .left img {
        width: 90%;
        margin: auto;
    }

    .promo-2 .right {
        width: 100%;
    }
}


@media (max-width: 420px) {
    .promo-1 {
        height: 50rem !important;
    }
    .promo-1 .promo-right {
        flex-direction: column;
        align-items: start;
    }
}
